<div class="row">
    <h1>Albums</h1>
    <%= link_to 'New', new_album_path, class: 'button success' %>

    <ul>
        <% @albums.each do |album| %>
        <%= link_to album.title, album_path(album) %>
        <% end %>
    </ul>
</div>
